<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analyzer</title>
  </head>
</html>
<header><p> Discover Sentimen</p></header>
  <body>
    <main>
      <div class="container">
        
        <section>
          <form id="form">
            <label for="article-url">Enter a URL of an article</label>
             <br>
            <input id="article-url" type="text" name="input" value="" placeholder="Enter Article URL here" />
            <br>
            <button
              type="submit"
              class="btn-submit"
              id="submitBtn"
            >
              Submit
            </button>
          </form>
        </section>

        <section>
          <strong>Form Results:</strong>
          <div id="Text" class="serverBack"></div>
          <div id="Agreement" class="serverBack"></div>
          <div id="Subjectivity" class="serverBack" ></div>
          <div id="Confidence" class="serverBack"></div>
          <div id="Irony" class="serverBack"></div>
          <div id="Score_tag"class="serverBack"></div>
        </section>
      </div>
    </main>
    <script>
     //  Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
        })
      }
    </script>
  </body>
  <footer> Moamen Mohasseb Udacity © 2006-2021 </footer>
</html>
