body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    border: 2px solid rgb(187, 187, 184);
    margin: 50px auto;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ccc;
    flex-grow: 1;
   flex-basis: 25%;
   }
div{
    margin: 10px auto;
    padding: 5px;
    margin: 5px;
    }